@using Microsoft.Extensions.Options;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentWise.Agent</title>
    <title>@ViewData["Title"] - RentWise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentWise.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    </main>
    @inject IOptions<RentWiseConfig> _config;
    <footer class="bg-primary p-md-5 py-4 text-white text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-12 mt-sm-4">

                    <p class="mb-3">
                        <a href="https://www.instagram.com/rentwise_gh" class="text-decoration-none mb-3 link-light fs-4" target="_blank">
                            <b>Follow us at</b> <i class="bi bi-instagram"></i>
                        </a>
                    </p>
                    <ul class="list-unstyled mt-4">
                        <li><a href="@_config.Value.ClientWebsiteLink/Page/About" target="_blank" class="link-light text-decoration-none fs-5">About Us</a></li>
                        <li><a href="@_config.Value.ClientWebsiteLink/Page/LegalAndPolicy" target="_blank" class="link-light text-decoration-none fs-5">Legal Terms & Privacy Policy</a></li>
                        <li><a href="@_config.Value.ClientWebsiteLink/Page/TOS" target="_blank" class="link-light text-decoration-none fs-5">Terms Of Service</a></li>
                        <li><a href="@_config.Value.ClientWebsiteLink/Page/AvoidScam" target="_blank" class="link-light text-decoration-none fs-5">Avoid Scams and Fraud</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12  mt-sm-4">
                    <ul>
                        <li><a href="@_config.Value.ClientWebsiteLink/Auth/Register" target="_blank" class="text-decoration-none fs-5 btn btn-outline-secondary">Register as Customer</a></li>
                        <li><a asp-controller="Home" asp-action="Index" class="text-decoration-none fs-5 btn btn-outline-secondary">Become an Agent</a></li>
                        <li><a href="@_config.Value.ClientWebsiteLink/Auth/Login" target="_blank" class="text-decoration-none fs-5 btn btn-outline-secondary">Login</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12  mt-sm-4">
                    <partial name="_Contact" />
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSk8XumgpnSn3AcgoPqQm_zZwrq8Ll6UY&libraries=places"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.6/jquery.jcarousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
     @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
