@model Authentication;
<div class="modal fade" id="register" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <form class="modal-dialog modal-dialog-centered registerForm" id="registerForm" asp-route-returnUrl="/Home/Index" method="post" asp-action="Register" asp-controller="Auth">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerLabel">Create a new account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating">
                    <input asp-for="@Model.PhoneNumber" class="form-control number" id="number" aria-required="true" placeholder="+233242207779" />
                    <label asp-for="@Model.PhoneNumber" class="form-label">Phone Number</label>
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>
                <button type="button" class="btn btn-primary" onclick="sendOtp('number')">Get OTP</button>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.NumberOTP" class="form-control" aria-required="true" placeholder="*****" />
                    <label asp-for="@Model.NumberOTP" class="form-label">Enter OTP</label>
                    <span asp-validation-for="@Model.NumberOTP" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="@Model.Password">Password</label>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex w-100 gap-3">
                    <button type="button" class="btn btn-secondary w-50" data-dismiss="modal">Close</button>
                    <button id="registerSubmit" type="submit" class="btn btn-primary w-50">Register</button>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p>Have an account? Sign in</p>
                    <p>Forget password?</p>
                </div>
            </div>
        </div>
    </form>
</div>
    <script>
        async function sendOtp(type) {
            const value = $('#' + type).val()
            if (!value || value == "") {
                toastr.error("Please input a phone number", "Error")
                return
            }
            const data = await $.ajax({
                method: "POST",
                url: "/auth/sendotp?type=" + type + "&value=" + value
            })
            if (data.success) {
                toastr.success("Success", "Otp sent successfully")
            }
        }
    </script>

