@model List<DisplayPreview>

<div class="category p-5">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="font-weight-bold text-primary mb-3"><b>@ViewBag.CategoryName</b></h3>
        </div>
        <div class="col-auto d-flex gap-3">
                <div class="dropdown bg-primary px-3 py-2 rounded">
                    <a class="nav-link dropdown-toggle not-active-nav text-center text-white" href="#" id="navbarSortDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-funnel-fill"></i>  Categories
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarSortDropdown">
                    <li><a class="dropdown-item" asp-controller="Store" asp-action="Category" asp-route-Category="2">Car Rental</a></li>
                    <li><a class="dropdown-item" asp-controller="Store" asp-action="Category" asp-route-Category="1">Construction Equipment</a></li>
                    <li><a class="dropdown-item" asp-controller="Store" asp-action="Category" asp-route-Category="4">Events</a></li>
                    <li><a class="dropdown-item" asp-controller="Store" asp-action="Category" asp-route-Category="10">Games</a></li>
                    <li><a class="dropdown-item" asp-controller="Store" asp-action="Category" asp-route-Category="11">Hotel</a></li>
                    <li><a class="dropdown-item" asp-controller="Store" asp-action="Category" asp-route-Category="5">Guest House</a></li>
                    <li><a class="dropdown-item" asp-controller="Store" asp-action="Category" asp-route-Category="8">Motel</a></li>
                    <li><a class="dropdown-item" asp-controller="Store" asp-action="Category" asp-route-Category="7">Short Stay</a></li>
                    <li><a class="dropdown-item" asp-controller="Store" asp-action="Category">Others</a></li>
                    </ul>
                </div>
            <div class="dropdown bg-primary px-3 py-2 rounded">
                <a class="nav-link dropdown-toggle not-active-nav text-center text-white" href="#" id="navbarSortDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-funnel-fill"></i>  Sort
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarSortDropdown">
                    <li><a class="dropdown-item" data-value="1" onclick="sortDropdownToggle(this)">Popular</a></li>
                    <li><a class="dropdown-item" data-value="2" onclick="sortDropdownToggle(this)">Price: Low to High</a></li>
                    <li><a class="dropdown-item" data-value="3" onclick="sortDropdownToggle(this)">Price: High to Low</a></li>
                </ul>
            </div>
        </div>
    </div>


    @if (Model.Count == 0)
    {
        <p>No products found.</p>
    }
    else
    {
        <div class="d-flex flex-wrap gap-3 justify-content-center mt-5">
            @foreach (DisplayPreview product in Model)
            {
                <partial name="_CategoryPreview" for="@product" />
            }
        </div>
        <nav class="d-flex justify-content-center mt-5">
            <ul class="pagination">
                @if (ViewBag.Pager.TotalPages > 1)
                {
                    <li class="page-item @(ViewBag.Pager.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" href="?page=1&Category=@ViewBag.CategoryName">First</a>
                    </li>
                    @for (int i = 1; i <= ViewBag.Pager.TotalPages; i++)
                    {
                        <li class="page-item @(i == ViewBag.Pager.CurrentPage ? "active" : "")">
                            <a class="page-link" href="?page=@i&Category=@ViewBag.CategoryName">@i</a>
                        </li>
                    }
                    <li class="page-item @(ViewBag.Pager.CurrentPage == ViewBag.Pager.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="?page=@ViewBag.Pager.TotalPages&Category=@ViewBag.CategoryName">Last</a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>
