@using RentWise.Utility;
@model ProductModel

@* Stylesheet import *@
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/controller/store/_Calender.css">
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
<link rel="stylesheet" type="text/css" href="~/css/jCarousel.css" />
<link rel="stylesheet" type="text/css" href="~/css/controller/store/View.css" />

@* Hidden inputs to store values *@
<input value="@Model.PriceDay" class="price-day" hidden />
<input value="@Model.ProductId" class="product-id" hidden />
<input value="@Model.Name" class="product-name" hidden />
<input value="@Model.AgentId" class="agent-id" hidden />

<div class="preview">
    <p class="px-5 py-2 fs-5 m-0 d-none d-md-block">
        <span>
            <a asp-controller="Home" asp-action="Index" class="text-primary text-decoration-none">Home</a>
        </span>
        <span><i class="bi bi-caret-right-fill text-primary"></i></span>
        <span>
            <a asp-controller="Home" asp-action="Index" asp-route-category="@Model.LkpCategory" class="text-primary text-decoration-none">@Lookup.Categories[Model.LkpCategory]</a>
        </span>
        <span><i class="bi bi-caret-right-fill text-primary"></i></span>
        <span>
            <a href="#" class="text-primary text-decoration-none">@SharedFunctions.CapitalizeAllWords(Model.Name)</a>
        </span>
    </p>
    <div class="d-flex align-items-center px-lg-5 px-1 justify-content-between my-3 my-lg-0">
        <h2 class="m-0">
            <b>@SharedFunctions.CapitalizeAllWords(Model.Agent.StoreName)</b>  <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30" fill="#212529" id="shareButton" class="cursor-pointer" onclick="shareOrCopy('@Model.Name')"><path d="M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z" /></svg>
        </h2>
        <p class="m-0"><span class="fs-3 font-weight-bold"><b>₵@Model.PriceDay</b>/</span><span>day</span></p>

    </div>
    <div class="d-flex align-items-center px-lg-5 px-1 justify-content-between mb-3">
        @if (!String.IsNullOrEmpty(Model.Agent.Region) && !String.IsNullOrEmpty(Model.Agent.City))
        {
           <div>
                <p class="m-0 text-capitalize"><b>City:</b>@Model.Agent.City</p>
                <p class="m-0 text-capitalize"><b>Region:</b>@Model.Agent.Region</p>
            </div>
        } else
        {
            <div>
                <p class="m-0 text-capitalize"><b>City:</b>Unknown</p>
                <p class="m-0 text-capitalize"><b>Region:</b>Unknown</p>
            </div>
        }
        <div class="d-flex align-items-center gap-3">
            @if (ViewBag.IsLike)
            {
                <i class="bi bi-heart-fill fs-4 cursor-pointer" id="like" onclick="like()"></i>

            } else
            {
                <i class="bi bi-heart fs-4 cursor-pointer" id="like" onclick="like()"></i>
            }
            @if (User.IsInRole("Admin"))
            {
            @if (Model.Enabled)
            {
                <i class="bi bi-pause-circle-fill" onclick="pauseProduct('@Model.ProductId')"></i>
            }
            else
            {
                <i class="bi bi-play-circle-fill" onclick="resumeProduct('@Model.ProductId')"></i>
            }         
            }
             <i class="bi bi-chat-left fs-4 cursor-pointer" onclick="openModal('chatModal')"></i>
            <a class="btn btn-primary text-decoration-none" href="#calendar_first">Book Now</a>
        </div>
    </div>
    @{
        string imagePath = $"{ViewBag.Link}/images/products/{Model.AgentId}/{Model.ProductId}/MainImage.webp";
    }
    <div class="p-5 text-center bg-image rounded-3" style="
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@Url.Content(imagePath)');
    height: 700px;
    background-repeat:no-repeat;
    background-size:cover;
  ">
        <div class="mask h-100">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3 display-3">WELCOME TO</h1>
                    <h1 class="mb-3">@SharedFunctions.CapitalizeAllWords(Model.Agent.StoreName)</h1>
                    <a class="btn btn-primary btn-lg text-white" role="button" href="#calendar_first">Check Availiability</a>
                </div>
            </div>
        </div>
    </div>
    <section class="p-5">
        <h2 class="header">
            More Pictures
        </h2>

        <div class="wrapper">
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        @foreach (ProductImageModel image in Model.ProductImages)
                        {
                            string otherImagePath = $"{ViewBag.Link}/images/products/{Model.AgentId}/{Model.ProductId}/{image.Name}";
                            <li>
                                <figure style="width:250px;height:250px;object-fit:cover">
                                    <img src="@otherImagePath" alt="Image 1" style="width:250px;height:250px;object-fit:cover">
                                    <figcaption class="text-center">Constructions</figcaption>
                                </figure>
                            </li>
                        }
                    </ul>
                </div>

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                <p class="jcarousel-pagination"></p>
            </div>
        </div>
    </section>
    <hr />
    <div class="px-5 py-3">
        <h3>Overview/Details</h3>
        <p>
            @Model.Description
        </p>
    </div>
    <hr />
    <div class="row">
        <div class="col-1 d-lg-block d-sm-none"></div>
        <div class="col-lg-5 col-sm-12">
            <ul>
                <h6>This includes</h6>

                @{

                    string[] includes = Model.Includes.Split(",,rw,,", StringSplitOptions.RemoveEmptyEntries);
                }
                @if (includes.Length > 0)
                {
                    @foreach (string include in includes)
                    {

                        if (!String.IsNullOrEmpty(include))
                        {
                            <li>
                                <b>@include.ToUpper()</b>
                            </li>
                        }
                    }

                }
                else
                {
                    <p>No includes</p>
                }
            </ul>
            <hr />
            <ul>
                <h6>Rental Rules</h6>
                @{
                    string[] rules = Model.Rules.Split(",,rw,,", StringSplitOptions.RemoveEmptyEntries);
                }
                @if (rules.Length > 0)
                {
                    @foreach (string rule in rules)
                    {
                        if (!String.IsNullOrEmpty(rule))
                        {
                            <li>
                                <b>@rule.ToUpper()</b>
                            </li>
                        }
                    }
                }
                else
                {
                    <p>No extra Rules</p>
                }
            </ul>
            <hr />
            <input type="number" value="@Model.MaxRentalDays" class="maxRentalDay" hidden />
            <p>Maximum number of rental days: @Model.MaxRentalDays</p>
            <hr/>
            <h5 class="mt-5">Other Items by @SharedFunctions.CapitalizeAllWords(Model.Agent.StoreName) (@ViewBag.NoOfOtherProducts)</h5>
            <div>
                @for (int i = 0; i < Math.Min(5, ViewBag.NoOfOtherProducts); i++)
                {

                    ProductModel OtherProduct = ViewBag.otherProducts[i];
                    string otherProductImage = $"{ViewBag.Link}/images/products/{OtherProduct.AgentId}/{OtherProduct.ProductId}/MainImage.webp";
                    <a href="/Store/View/@OtherProduct.ProductId">
                        <img src="@Url.Content(otherProductImage)" alt="@OtherProduct.Description" width="100" height="100" class="cursor-pointer" />
                    </a>
    
                } 
                @if (@ViewBag.NoOfOtherProducts > 5)
                {
                    <button class="btn btn-secondary text-dark">See More</button>
                } 

               
            </div>
            @if(ViewBag.NoOfRating == null)
            {
               <h5 class="mt-5">Review(0)</h5>  
            }
            else
            {
                
             <h5 class="mt-5">Review(@ViewBag.NoOfRating)</h5>
            }
            @if (ViewBag.NoOfRating > 0)
            {
                @foreach (ReviewModel Review in ViewBag.Reviews)
                {
                    <div>
                        <div>
                            <div>
                                @for (int i = 1; i < 11; i +=2 )
                                {
                                    if (i <= Review.RatingValue)
                                    {
                                        <i class="bi bi-star-fill"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-star"></i>
                                    }
                                }

                            </div>
                            <p class="m-0">@Review.UserDetails.Username</p>
                            <textarea disabled class="p-2">@Review.RatingDescription</textarea>
                        </div>
                    </div>
                }
            } else
            {
               <p>No rating yet</p> 
            }

            @if (ViewBag.HasAddRating == null || ViewBag.HasAddRating == false)
            {
                <form asp-controller="Store" asp-action="AddRating" method="post" class="rating-form">
                    <h5 class="mt-5">Add Your Review</h5>
                    <div class="insert-rating w-fit mr-auto my-3"></div>
                    <input type="number" value="0" hidden name="RatingValue" class="rating-value" />
                    <textarea  rows="7" name="RatingDescription" class="p-2 w-100 review" placeholder="Write your review"></textarea><br />
                    <input type="text" value="@Model.ProductId" hidden name="ProductId" />
                    <input type="text" value="@Model.AgentId" hidden name="AgentId" />
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            }
        </div>
        <div class="col-lg-6 col-sm-12 px-lg-5 px-md-2 p-1 mt-5 mt-lg-0">
            @{
                string agentImage = $"{ViewBag.Link}/images/agent/{Model.AgentId}/registration/ProfilePicture.png";
            }
            <div class="profile px-5 py-3">
                <img src="@Url.Content(agentImage)" alt="" width="50" height="50" class="rounded-circle"/>
                <h6>@SharedFunctions.CapitalizeAllWords(Model.Agent.StoreName)</h6>
                <p>
                    Member since @Model.Agent.CreatedAt.ToString("dd/MM/yy")
                </p>
            </div>
            <section class="ftco-section">
                <div class="">
                    <div class="calendar calendar-first" id="calendar_first">
                        <div class="calendar_header">
                            <button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
                            <h2></h2>
                            <button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
                        </div>
                        <div class="calendar_weekdays"></div>
                        <div class="calendar_content"></div>
                    </div>
                </div>


            </section>
            <div class="price-breakdown w-100 m-auto p-4 mt-5 rounded-1">
                <h3 class="mb-3">Price Breakdown</h3>
                <div class="fw-bold">
                    <div class="d-flex justify-content-between day">
                        <p>$42/Day * 10 Day * 1 Product</p>
                        <p>$420</p>
                    </div>
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <i class="bi bi-file-plus-fill fs-3 text-primary cursor-pointer" onclick="setNoOfProduct('add')"></i>
                    <p class="m-0 no-of-product">1</p>
                    <i class="bi bi-file-minus-fill fs-3 text-primary cursor-pointer" onclick="setNoOfProduct('minus')"></i>
                    <p class="m-0 no-of-product-2">(1 item(s) added)</p>
                </div>
                <hr />
                <div class="d-flex justify-content-between fw-bold">
                    <p class="m-0">Total</p>
                    <p class="m-0 total-price">$420</p>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                    <div>
                        <p><b>Pickup Pickup Date</b></p>
                        <p class="start-date">May 5th,2023</p>
                    </div>
                    <div>
                        <p><b>Return Pickup Date</b></p>
                        <p class="end-date">May 5th,2023</p>
                    </div>
                </div>
                <hr />
                <button class="btn btn-primary w-100" onclick="addToCart()">Add To Cart</button>
            </div>
            <div>
                @{
                    string policy = $"{ViewBag.Link}/pdf/Rentwise-Cancellation-Policy.pdf";
                    string fileName = $"Rentwise-Cancellation-Policy.pdf";
                }
                <a class="btn btn-primary d-block w-100 m-auto my-3 py-2 " href="@policy" download="@fileName">Cancellation Policy</a>
            </div>
        </div>
    </div>
    @* Chat Modal *@
    <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chatModalLabel">Sent Text To Renter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('chatModal')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea rows="10" placeholder="Enter your message" class="p-3 w-100" id="messageSellar"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('chatModal')">Close</button>
                    <button type="button" class="btn btn-primary" onclick="sendMessage('@Model.Agent.Id','messageSellar')">Message Owner</button>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts{
    <script src="~/js/jCarousel.js" asp-append-version="true"></script>
    <script src="~/js/controller/store/_Rating.js" asp-append-version="true"></script>
    <script src="~/js/controller/store/View.js" asp-append-version="true"></script>
    <script src="~/js/controller/store/_Calender.js" asp-append-version="true"></script>
}

