<link rel="stylesheet" href="~/css/shared/_CategoryPreview.css" asp-append-version="true" />

@model DisplayPreview

@{
    var boostClass = Model.Premium ? "boost" : "";
}

<div class="category-preview col-lg-4 col-md-6 col-12 rounded p-3 border border-primary @boostClass">
    @if (Model.Premium)
    {
        <div class="boosted-icon text-primary d-flex align-items-center">
            <i class="bi bi-lightning-fill mr-1"></i> Boosted
        </div>
    }
    <img src="@Model.Image" alt="" class="m-auto d-block rounded" />
    <div class="content d-flex flex-column gap-2 mt-4">
        <h3 class="text-primary font-weight-bold m-0"><b>@Model.Name</b></h3>
        <p class="m-0">₵@Model.Price/Day</p>
        <p class="m-0"><i class="bi bi-star-fill text-primary mr-2"></i>@Model.Rating</p>
        <p class="m-0">@Model.Location</p>
        <button class="btn btn-primary w-100" onclick="navigate('@Model.ProductId')">More Info</button>
    </div>
</div>
