@using RentWise.Utility;
<link rel="stylesheet" href="~/css/shared/_DisplayPreview.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/jCarousel-single.css" asp-append-version="true" />

@model ProductModel
@{
    string imagePath = $"{ViewBag.Link}/images/products/{Model.AgentId}/{Model.ProductId}/MainImage.webp";
    string profile = $"{ViewBag.Link}/images/agent/{Model.AgentId}/registration/ProfilePicture.png";
}
@* onclick="navigate('@Model.ProductId')" *@
<div class="display-preview cursor-pointer">
    <div class="jcarousel-pl-wrapper">
        <div class="jcarousel-pl" onclick="navigate('@Model.ProductId')">
            <ul>
                <li><img src=@imagePath width="270" height="250" alt=""></li>
                @foreach (ProductImageModel image in Model.ProductImages)
                {
                    string otherImagePath = $"{ViewBag.Link}/images/products/{Model.AgentId}/{Model.ProductId}/{image.Name}";
                    <li><img src=@otherImagePath width="270" height="250" alt=""></li>
                }
            </ul>
        </div>

        @*  <p class="photo-credits">
        Photos by <a href="http://www.mw-fotografie.de">Marc Wiegelmann</a>
        </p> *@

        <a href="#" class="jcarousel-pl-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-pl-control-next">&rsaquo;</a>

        <p class="jcarousel-pl-pagination">

        </p>
    </div>
    @* <img src=@imagePath alt="Product Image" /> *@
    <div class="content" onclick="navigate('@Model.ProductId')">
        <h5>@SharedFunctions.CapitalizeAllWords(Model.Name)</h5>
        <p><b>₵@Model.PriceDay</b>/Day</p>
        <p class="d-flex gap-1"><i class="bi bi-star-fill text-primary fs-4"></i><span class="fs-5">@Model.Rating</span></p>
        @if (!String.IsNullOrEmpty(Model.Region))
        {
            <p> @Model.City,@Model.Region </p>

        } else
        {
            <p> @Model.City </p>
        }


    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.6/jquery.jcarousel.min.js"></script>
<script src="~/js/_DisplayPreview.js"></script>
<script src="~/js/jCarousel-single.js"></script>