@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using Microsoft.Extensions.Options;
@using RentWise.DataAccess.Repository.IRepository;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IUnitOfWork _unitOfWork
@inject IOptions<RentWiseConfig> _config;

@{
    Authentication authentication = new Authentication(); // or null if you want to pass null
    AuthenticationLogin authenticationLogin = new AuthenticationLogin();
    string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    UsersDetailsModel usersDetailsModel = userId != null ? _unitOfWork.UsersDetails.Get(u => u.Id == userId) : new UsersDetailsModel();
    string agentRegistrationLink = $"{_config.Value.AgentWebsiteLink}/Home/Index";
}
<link rel="stylesheet" href="~/css/shared/_LoginPartial.css" asp-append-version="true" />
<ul class="navbar-nav align-items-center gap-2">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="dropdown">
                <a class="dropdown-toggle link-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-person-fill text-white fs-3"></i>
                    @{
                        int totalNotification = usersDetailsModel != null ? usersDetailsModel.Orders + usersDetailsModel.Messages : 0;
                    }
                    @if (totalNotification > 0)
                    {
                        <sup class="link-light text-decoration-none">@totalNotification</sup>
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-end text-white profile-dropdown" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Auth" asp-action="Profile">Profile</a>

                    <a class="dropdown-item" asp-controller="Page" asp-action="Chat">
                        Message
                        @if (usersDetailsModel != null && usersDetailsModel.Messages > 0)
                        {
                            <sup>@usersDetailsModel.Messages</sup>
                        }
                    </a>

                    <a class="dropdown-item" asp-controller="Store" asp-action="Orders">
                        Reservations
                        @if (usersDetailsModel != null && usersDetailsModel.Orders > 0)
                        {
                            <sup>@usersDetailsModel.Orders</sup>
                        }
                    </a>

                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <a id="logout" href="#" class="dropdown-item" onclick="document.getElementById('logoutForm').submit();">Logout</a>
                    </form>
                </div>
            </div>
        </li>
    }
    else
    {
          

        <li class="nav-item m-0">
            <button type="button" class="btn btn-outline-secondary m-0" data-toggle="modal" data-target="#register">
                Register
            </button>
            <!-- Modal -->
            @Html.Partial("_Register", authentication)

        </li>
        <li class="nav-item m-0">
            <button type="button" class="btn btn-secondary m-0" data-toggle="modal" data-target="#login">
                Login
            </button>
            <!-- Modal -->
            @Html.Partial("_Login", authenticationLogin)

        </li>
      
                <li class="nav-item m">
            <a href="@agentRegistrationLink" class="btn btn-secondary m-0">Switch to Owner</a>
                </li>
    }
</ul>

<!-- Bootstrap JavaScript (and jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
