@model List<ProductModel> 
<link rel="stylesheet" type="text/css" href="~/css/controller/home/Index.css"/>
<link rel="stylesheet" type="text/css" href="~/css/jCarousel.css" />
@if (TempData["ToastMessage"] != null)
{
    <script>
        toastr.success('@Html.Raw( TempData["ToastMessage"])');
    </script>
}
<div class="home">
    <input type="hidden" id="category" value="@ViewBag.Category" />
    <div class="row justify-content-center">
        <div class="wrapper col-lg-11 col-md-12 col-sm-12">
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li>
                            <div class="d-flex flex-column align-items-center category" onclick="selectCategory(2)">
                                <i class="bi bi-car-front-fill"></i>
                                <span>Car</span>
                                <hr class="2 hr" />
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-column align-items-center category" onclick="selectCategory(1)">
                                <i class="bi bi-building-fill-gear"></i>
                                <span>Contruction</span>
                                <hr class="1 hr" />
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-column align-items-center  category" onclick="selectCategory(3)">
                                <i class="bi bi-display-fill"></i>
                                <span>Office</span>
                                <hr class="3 hr" />
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-column align-items-center  category" onclick="selectCategory(4)">
                                <i class="bi bi-people-fill"></i>
                                <span>Events</span>
                                <hr class="4 hr" />
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-column align-items-center  category" onclick="selectCategory(5)">
                                <i class="bi bi-people-fill"></i>
                                <span>Tracker(sales)</span>
                                <hr class="5 hr" />
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-column align-items-center category" onclick="selectCategory(6)">
                                <i class="bi bi-badge-ad-fill"></i>
                                <span>Bill Board</span>
                                <hr class="6 hr" />
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-column align-items-center category" onclick="selectCategory(7)">
                                <i class="bi bi-building-fill"></i>
                                <span>Short Stay</span>
                                <hr class="7 hr" />
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-column align-items-center category" onclick="selectCategory(8)">
                                <i class="bi bi-bank2"></i>
                                <span>Motel</span>
                                <hr class="8 hr" />
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-column align-items-center category" onclick="selectCategory(9)">
                                <i class="bi bi-water"></i>
                                <span>Boat/Yatch</span>
                                <hr class="9 hr" />
                            </div>
                        </li>
                        <li>
                            <div class="d-flex flex-column align-items-center category" onclick="selectCategory(10)">
                                <i class="bi bi-dpad-fill"></i>
                                <span>Games</span>
                                <hr class="10 hr" />
                            </div>
                        </li>

                    </ul>
                </div>

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                <p class="jcarousel-pagination"></p>
            </div>
        </div>
        <div class="col-lg-1 col-md-12 col-sm-12 mt-md-5 mt-sm-5">
            <div class="d-flex flex-column align-items-center category" onclick="openModal('filter')">
                <i class="bi bi-funnel-fill"></i>
                <span>Filter</span>
            </div>
        </div>
    </div>


    @* Filter Modal *@
    <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="filterLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterLabel">Filter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal('filter')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="price">
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label">Weekly Rental Price</label>
                                <div class="input-group mb-3">
                                    <input class="form-control min" type="number" placeholder="Enter Minimum Amount" min="1" value="@ViewBag.Min">
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="form-label">Weekly Rental Price</label>
                                <div class="input-group mb-3">
                                    <input class="form-control max" type="number" placeholder="Enter Maximum Amount" min="1" value="@ViewBag.Max">
                                </div>
                            </div>
                        </div>
                    </div>
                    <label class="form-label">Location</label>
                    <input class="form-control" id="autocomplete-input" placeholder="Enter location" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('filter')">Close</button>
                    <button type="button" class="btn btn-primary" onclick="filter()">Filter</button>
                </div>
            </div>
        </div>
    </div>

    <div class="my-5">
        @if (ViewBag.NoOfProducts > 0)
        {
            <div class="d-flex flex-wrap px-md-5 px-sm-0 gap-md-5 gap-sm-0 justify-content-center justify-content-md-start">
                @foreach (ProductModel product in Model)
                {
                    <partial name="_DisplayPreview" for="@product" />
                }
            </div>
        }
        else
        {
            <h1 class="text-center">No product in this category</h1>
        }
    </div>
</div>
@section Scripts {
    <script src="~/js/jCarousel.js" asp-append-version="true"></script>
    <script src="~/js/AutocompleteAddress.js" asp-append-version="true"></script>
    <script src="~/js/controller/home/Index.js" asp-append-version="true" defer></script>
}
