@model List<ProductModel> 
<link rel="stylesheet" type="text/css" href="~/css/controller/home/Index.css"/>
<link rel="stylesheet" type="text/css" href="~/css/jCarousel.css" />
@if (TempData["ToastMessage"] != null)
{
    <script>
        toastr.success('@Html.Raw( TempData["ToastMessage"])');
    </script>
}

<div class="home p-0">
<partial name="_Hero"/>
<partial name="_OurServices" />
    <section class="p-5 gray">
        <h1 class="section-header text-primary" data-shadow-text="Construction Equipments">Construction Equipments</h1>
        <p class="text-black-50 text-center mt-3">Rent High-quality Construction equipment available for short term and long term projects</p>
        <div class="d-flex flex-wrap gap-3 justify-content-center mt-5">
            @foreach (DisplayPreview construction in ViewBag.Constructions)
            {
                <partial name="_CategoryPreview" for="@construction" />
            }
        </div>
            <button class="btn btn-outline-primary rounded w-fit m-auto d-block mt-3">View More</button>
    </section>

    <section class="p-5 gray">
        <h1 class="section-header text-primary" data-shadow-text="Car Rentals">Car Rentals</h1>
        <p class="text-black-50 text-center mt-3">Rent fleet of well-maintained vehicles suitable for daily commutes, vacation, and special occasions</p>
        <div class="d-flex flex-wrap gap-3 justify-content-center mt-5">
            @foreach (DisplayPreview car in ViewBag.CarRentals)
            {
                <partial name="_CategoryPreview" for="@car" />
            }
        </div>
        <button class="btn btn-outline-primary rounded w-fit m-auto d-block mt-3">View More</button>
    </section>

    <div class="py-5 px-3">
        <h3 class="font-weight-bold">Popular Search</h3>
        <div class="wrapper">
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        @foreach (DisplayPreview product in ViewBag.AllProduct)
                        {
                            <li>
                                <partial name="_CategoryPreview" for="@product" />
                            </li>
                        }
                    </ul>
                </div>

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                <p class="jcarousel-pagination"></p>
            </div>
        </div>
    </div>

    <section class="p-5 gray">
        <h1 class="section-header text-primary" data-shadow-text="Office/Personal Items">Office/Personal Items</h1>
        <p class="text-black-50 text-center mt-3">Rent a variety of personal items, from electronics to outdoor gear, including office items</p>
        <div class="d-flex flex-wrap gap-3 justify-content-center mt-5">
            @foreach (DisplayPreview product in ViewBag.OfficeItems)
            {
                <partial name="_CategoryPreview" for="@product" />
            }
        </div>
        <button class="btn btn-outline-primary rounded w-fit m-auto d-block mt-3">View More</button>
    </section>

    <section class="p-5 gray">
        <h1 class="section-header text-primary" data-shadow-text="Events/Equipments Rentals">Events/Equipments Rentals</h1>
        <p class="text-black-50 text-center mt-3">Rent Event equipment's, sounds, chairs, decorations, Lightening, stage and many more.</p>
        <div class="d-flex flex-wrap gap-3 justify-content-center mt-5">
            @foreach (DisplayPreview product in ViewBag.OfficeItems)
            {
                <partial name="_CategoryPreview" for="@product" />
            }
        </div>
        <button class="btn btn-outline-primary rounded w-fit m-auto d-block mt-3">View More</button>
    </section>
    <section class="home_banner">
       <div>
            <h3 class="text-light">Not Sure What You Are Looking For?</h3>
            <button class="btn btn-outline-light w-fit d-block m-auto">Use Or Guide</button>
       </div>
    </section>
    <section class="p-5 gray">
        <h1 class="section-header text-primary" data-shadow-text="Motels">Motels</h1>
        <p class="text-black-50 text-center mt-3">Easily own high quality trackers with outstanding proficiency.</p>
        <div class="d-flex flex-wrap gap-3 justify-content-center mt-5">
            @foreach (DisplayPreview product in ViewBag.Motels)
            {
                <partial name="_CategoryPreview" for="@product" />
            }
        </div>
        <button class="btn btn-outline-primary rounded w-fit m-auto d-block mt-3">View More</button>
    </section>
    <input  class="id" hidden/>
</div>
@section Scripts {
    <script src="~/js/jCarousel.js" asp-append-version="true"></script>
    <script src="~/js/AutocompleteAddress.js" asp-append-version="true"></script>
    <script src="~/js/controller/home/Index.js" asp-append-version="true" defer></script>
}
