@model IEnumerable<ReviewModel>
<div class="content content-5">
    <h1 class="h2">Reviews</h1>
    <hr />
    @if (Model.Any())
    {
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Username</th>
                    <th scope="col">Product</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int serialNumber = 1;
                }

                @foreach (ReviewModel item in Model)
                {
                    <tr>
                        <th scope="row">@serialNumber</th>
                        <td>@item.CreatedAt.ToShortDateString()</td>
                        <td>@item.User.UserName.Split('@')[0]</td>
                        <td>@item.Product.Name</td>
                        <td>@item.RatingValue</td>
                        <td>@item.RatingDescription</td>
                    </tr>


                    serialNumber++;
                }
            </tbody>
        </table>
    }
    else
    {
    <h2 class="text-center text-primary">No reviews</h2>    
    }
</div>