@model RentWise.Models.Identity.ResetPasswordModel
<partial name="_Nav2" />
<form id="resetPasswordForm" asp-action="ResetPassword" asp-controller="Auth" method="post" class="w-md-50 m-auto p-md-5 p-sm-1 passwordResetForm authform">
    @if (TempData["Success"] != null)
    {
        <img src="@Url.Content("~/img/reset-password.png")" class="w-fit d-block m-auto" />
        <h3 class="text-center">Congratulation!</h3>
        <p class="text-center text-black-50">Your password has been reset successfully.</p>
        <a asp-controller="Auth" asp-action="Login" class="w-100 btn btn-lg btn-primary rounded-pill">Back to Login</a>
    } else
    {   
    <h2 class="text-primary text-center">Reset your Password</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <!-- Hidden inputs for Email and Token to ensure they are passed back without being visible or editable by the user -->
    <input type="hidden" asp-for="@Model.Email" />
    <input type="hidden" asp-for="@Model.Token" />

    <div class="form-floating mb-3">
        <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
        <label asp-for="@Model.Password" class="form-label text-black-50">Password</label>
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm new password" />
        <label asp-for="@Model.ConfirmPassword" class="form-label text-black-50">Confirm New Password</label>
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>

    <button id="resetSubmit" type="submit" class="w-100 btn btn-lg btn-primary rounded-pill">Reset Password</button>
    }
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script defer>
        async function sendOtp(type) {
            const value = $('#' + type).val();
            if (!value || value == "") {
                toastr.error("Please input a valid input", "Error");
                return;
            }
            const data = await $.ajax({
                method: "POST",
                url: "/auth/sendotp?type=" + type + "&value=" + value
            });
            if (data.success) {
                toastr.success("OTP sent successfully", "Success");
            } else {
                toastr.error("Error sending OTP", "Error");
            }
        }

        const parsedUrl = new URL(window.location.href);
        const oneSignalId = parsedUrl.searchParams.get("onesignalId");
        if (oneSignalId) {
            $(".passwordResetForm").attr("action", "/Auth/ResetPassword?returnUrl=Home/Index?onesignalId=" + oneSignalId);
            console.log("OneSignal ID:", oneSignalId);
        } else {
            console.log("OneSignal ID not found in the URL.");
        }
    </script>
}
