@model IEnumerable<ProductModel>;
<link rel="stylesheet" href="~/css/controller/store/Index.css" />
<div>
    <partial name="_Nav2" />
    <img src="~/img/banner.png" alt="banner" class="w-100" />
    <div class="row align-items-center mt-3">
        <div class="col-3"></div>
        <div class="search_input col-3">
            <i class="bi bi-search text-muted"></i>
            @if(ViewBag.Name != null)
            {
                <input type="search" value="@ViewBag.Name" placeholder="Search" class="product-search" />
            } else
            {
            <input type="search" value="" placeholder="Search" class="product-search"/>              
            }
            <button class="btn rouded-pill btn-info text-white" onclick="search()" type="button"> <i class="bi bi-search text-muted text-white"></i>Search</button>
        </div>
        
        <div class="col-3 d-flex align-items-center gap-3">
            <a class="m-0 text-dark text-decoration-none" asp-controller="Store" asp-action="Index">
                <b>Product</b>
            </a>
                <div class="vr"></div>
            <a class="m-0 text-dark text-decoration-none" asp-controller="Dashboard" asp-action="Index" asp-route-active="5">
                <b>Review</b>
            </a>
            @* <div class="vr"></div> *@
            @* <p class="m-0">
                <b>Share</b>
                <i class="bi bi-share-fill"></i>
            </p> *@
        </div>
        <div class="col-3 d-flex gap-2">
            <i class="bi bi-heart"></i>
            <p>@ViewBag.LikeCount</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 px-5">
            <a class="p-3 my-3 bg-dark text-white w-100 d-flex gap-1 justify-content-center text-decoration-none" asp-controller="Dashboard" asp-action="Index"><i class="bi bi-columns-gap"></i><span>Dashboard</span></a>
            <div class="card my-3">
                <div class="card-body">
                    <p class="card-title bg-primary bg-opacity-25 p-2 text-center">Store Details</p>
                    <ul class="card-text list-unstyled d-flex flex-column gap-3  ">
                        <li class="d-flex gap-2"><i class="bi bi-person-circle"></i> <span>Registration: @ViewBag.RegistrationDate</span></li>
                        <li class="d-flex gap-2"><i class="bi bi-heart"></i><span>Product Votes: @ViewBag.LikeCount</span></li>
                        <li class="d-flex gap-2"><i class="bi bi-shop"></i><span>Total Submitted: @ViewBag.TotalSubmited</span></li>
                    </ul>
           
                </div>
            </div>
            <div class="card my-3">
                <div class="card-body">
                    <p class="card-title bg-primary bg-opacity-25 p-2 text-center ">Store Product Category</p>
                    <ul class="card-text list-unstyled d-flex flex-column gap-3  ">
                        <li class="d-flex gap-2"> <input type="radio" name="category" value="0" class="0" onclick="filterCategory(0)" id="all"/> <label for="all">Select All</label></li>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <li class="d-flex gap-2"> <input type="radio" name="category" value="@category.Key" class="@category.Key" onclick="filterCategory(@category.Key)" id="@category.Value" /> <label for="@category.Value">@category.Value</label></li>
                        }
                     </ul>

                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="d-flex flex-wrap w-10 mt-5 mb-3">
                @if(Model.Count() > 0)
                {
                    @foreach (ProductModel product in Model)
                    {
                        <div class="container">
                            <div class="button-container">
                                @{
                                    string imagePath = $"~/images/products/{ViewBag.Id}/{product.ProductId}/MainImage.webp";
                                    string previewPath = $"/Store/Preview/{product.ProductId}";
                                }
                                <img src="@Url.Content(imagePath)" alt="Product Image">
                                <div class="button-overlay">
                                    <a class="bg-dark text-white py-2 px-5 rounded-3 no-underline d-block" asp-controller="Store" asp-action="Upsert" asp-route-id="@product.ProductId">Edit</a>
                                    <a class="bg-dark text-white py-2 px-5 rounded-3 mt-2 no-underline d-block" href="@Url.Content(previewPath)" target="_blank">Preview</a>
                                </div>
                            </div>
                        </div>
                    }

                } else
                {
                    @if(ViewBag.Name != null)
                    {
                        <h1 class="text-center mb-5">You don't have a product with name @ViewBag.Name</h1>
                    }
                    else if (ViewBag.TotalFilterCount != 0)
                    {
                        
                        <h1 class="text-center mb-5">You don't have a product currently</h1>

                    }
                    else
                    {
                        <h1 class="text-center mb-5">You don't have any product in this category </h1>
                    }
                }

            </div>
            <a class="mt-5 p-3 bg-dark text-white no-underline" href="/Store/Upsert">
                <i class="bi bi-plus-circle-fill"></i> <span>Add A New Product</span>
            </a>
        </div>
    </div>
</div>
@section Scripts {
  <script src="~/js/controller/store/Index.js"></script>
}