@model ProductModel;
<style href="~/css/store/Upsert.css"></style>
<div>
    <partial name="_Nav2" />
    <form class="p-5" method="post"  enctype="multipart/form-data">
       @* <input value="@Model.ProductId" class="product-id" hidden /> *@
        <input  value="@Model.Includes" class="includes" hidden/>
        <input  value="@Model.Rules" class="rules" hidden/>
        <input  value="@Model.Address" class="location" hidden />
        @if(Model.Agent != null)
        {
            <input value="@Model.ProductImages.Count()" class="product-image-count" hidden/>
            <input asp-for="@Model.ProductId" hidden/>
        }
        else
        {
            <input value="0" class="product-image-count" hidden/>
        }

        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
        <input class="category-input d-none" hidden aria-required="true" asp-for="@Model.LkpCategory" />
        <div class="content content-1 text-center @(Model.Agent == null ? "" : "d-none")">
            <h3 class="mt-5">List your property on <span class="font-ilalic">Rent Wise</span> and start welcoming renters in no time!</h3>
            <p class="my-3">To get started, choose the category of Rental you want to list on Rent Wise</p>
            <div class="d-flex flex-wrap p-5 justify-content-evenly">
                <div class="card p-3 m-3 ">
                    <div class="mb-4">
                        <i class="bi bi-car-front-fill fs-3 text-primary"></i>
                        <h6>
                            Vehicle Rental
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Rent fleet of well-maintained
                            vehicles suitable for daily commutes,
                            vacation, and special occasions
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(2)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 m-3">
                    <div class="mb-4">
                        <i class="bi bi-building-fill-gear fs-3 text-primary"></i>
                        <h6>
                            Construction Equipment
                            Rental
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Rent High-quality Construction
                            equipment available for short term a
                            nd long term projects
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(1)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 m-3">
                    <div class="mb-4">
                        <i class="bi bi-display-fill fs-3 text-primary"></i>
                        <h6>
                            Personal & Office
                            Items
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Rent a variety of personal items,
                            from electronics to outdoor gear,
                            including office items
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(3)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 m-3 m-3">
                    <div class="mb-4">
                        <i class="bi bi-people-fill fs-3 text-primary"></i>
                        <h6>
                            Event & Prop Rental
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Rent Event equipment's, sounds,
                            chairs, decorations, Lightening, stage
                            and many more.
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(4)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 m-3">
                    <div class="mb-4">
                        <i class="bi bi-compass fs-3 text-primary"></i>
                        <h6>
                            Car Tracker
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Easily own high quality
                            trackers with outstanding proficiency
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(5)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 m-3">
                    <div class="mb-4">
                        <i class="bi bi-badge-ad-fill  fs-3 text-primary"></i>
                        <h6>
                            Bill Board
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Easily own high quality
                            trackers with outstanding proficiency
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(6)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 m-3">
                    <div class="mb-4">
                        <i class="bi bi-building-fill  fs-3 text-primary"></i>
                        <h6>
                            Short Stay
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Easily own high quality
                            trackers with outstanding proficiency
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(7)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 m-3">
                    <div class="mb-4">
                        <i class="bi bi-building-fill  fs-3 text-primary"></i>
                        <h6>
                            Motel
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Easily own high quality
                            trackers with outstanding proficiency
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(8)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 m-3">
                    <div class="mb-4">
                        <i class="bi bi-water fs-3 text-primary"></i>
                        <h6>
                            Boat/Yatch
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Easily own high quality
                            trackers with outstanding proficiency
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(9)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 m-3">
                    <div class="mb-4">
                        <i class="bi bi-dpad-fill fs-3 text-primary"></i>
                        <h6>
                            Games
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Easily own high quality
                            trackers with outstanding proficiency
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(10)">Proceed</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content content-2 @(Model.Agent == null ? "d-none" : "")">
            <div class="item mb-5 w-fit m-auto px-5 py-3 fs-5 rounded-2 d-flex align-items-center gap-4"> <span>Category:</span> <span class="text-primary categories">Vehicle Rental </span><button class="btn btn-primary text-white" type="button" onclick="onToggle(1)">Change</button></div>
            <div class="item p-5 rounded-1">
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="@Model.Name" aria-required="true" />
                    <label class="form-label" asp-for="@Model.Name">Name of Product</label>
                    <span class="text-danger" asp-validation-for="@Model.Name"></span>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                         <label class="form-label" asp-for="@Model.PriceDay">Daily Rental Price</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <span class="input-group-text text-white">₵</span>
                            </div>
                            <input class="form-control" aria-label="Price / Day" asp-for="@Model.PriceDay" placeholder="Price / Day">
                            <span class="text-danger" asp-validation-for="@Model.PriceDay"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label class="form-label" asp-for="@Model.MaxRentalDays">Maximum Rental Days</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <span class="input-group-text text-white">Days</span>
                            </div>
                            <input class="form-control" aria-label="Max Rental Days" asp-for="@Model.MaxRentalDays" placeholder="Maximum Rental Days">
                            <span class="text-danger" asp-validation-for="@Model.MaxRentalDays"></span>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" aria-required="true" type="file" accept="image/*" name="mainImage" asp-for="@Model.MainImage" id="main-image-input"/>
                    <label class="form-label" asp-for="@Model.MainImage">Main Image</label>
                    <span class="text-danger" asp-validation-for="@Model.MainImage"></span>
                    @if (Model.Agent == null)
                    {
                    <img id="main-image" width="200" height="200" class="d-none mt-3"/>                     
                    }
                    else
                    {
                        string main = $"~/images/products/{Model.AgentId}/{Model.ProductId}/MainImage.webp";
                        <img id="main-image" width="200" height="200" src="@Url.Content(main)" class="mt-3" />
                    }
                </div>


                <div class="w-fit ml-auto">
                    <button class="btn btn-outline-primary" type="button" onclick="onToggle(1)">Back</button>
                    <button class="btn btn-primary text-white" type="button" onclick="onToggle(3)">Save changes and Continue</button>
                </div>
            </div>
        </div>
        <div class="content content-3 d-none">
            <div class="item mb-5 w-fit m-auto px-5 py-3 fs-5 rounded-2 d-flex align-items-center gap-4"> <span>Category:</span> <span class="text-primary categories">Vehicle Rental </span><button class="btn btn-primary text-white" type="button" onclick="onToggle(1)">Change</button></div>

            <div class="item p-5">
                <h5>Images</h5>
                <div class="w-100 d-flex flex-wrap gap-3 p-4" id="imageContainer">
                    <div class="fs-1 p-5 cursor-pointer">
                        <input class="form-control d-none" aria-required="true" type="file" accept="image/*" hidden name="images" id="images" multiple="multiple" />
                        <input class="form-control d-none" aria-required="true" type="file" accept="image/*" hidden name="otherImages" id="allimages" multiple="multiple"/>
                        <label class="form-label" for="images">
                            <i class="bi bi-plus-circle-fill  cursor-pointer"></i>
                        </label>
                    </div>
                </div>
                @if (Model.Agent != null)
                {
                <div class="w-100 d-flex flex-wrap gap-3 p-4">
                        @foreach(ProductImageModel image in Model.ProductImages)
                        {
                            string main = $"~/images/products/{Model.AgentId}/{Model.ProductId}/{image.Name}";
                            <div class="image-container" id="@image.Id">
                                <img src="@Url.Content(main)" style="width: 100px; height: 100px;"><span class="delete-icon"><i class="bi bi-trash3-fill" onclick="deleteImage('@image.Id')"></i></span>
                                </div>
                        }
                    </div>
                }
                <h5 class="mb-4">This products includes</h5>
                    <textarea class="form-control d-none includes-value" hidden asp-for="@Model.Includes" aria-required="true"></textarea>
                <div class="includesContainer">
                    <div class="fs-5 cursor-pointer" onclick="addIncludes()">  <i class="bi bi-plus-circle-fill"></i> Add More</div>
                </div>
                <div class="mt-5">
                    <button class="btn btn-outline-primary" type="button" onclick="onToggle(2)">Back</button>
                    <button class="btn btn-primary text-white" type="button" onclick="onToggle(4)">Save changes and Continue</button>
                </div>
            </div>
        </div>
        <div class="content content-4 d-none">
            <div class="item p-5">
                <div class="form-floating mb-3">
                    <textarea class="form-control" asp-for="@Model.Description" aria-required="true" rows="10" ></textarea>
                    <label class="form-label" asp-for="@Model.Description">Product Description</label>
                    <span class="text-danger" asp-validation-for="@Model.Description"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="autocomplete-input" />
                    <label asp-for="@Model.Address" class="form-label">Location</label>
                    <input asp-for="@Model.Address" class="store-address" hidden />
                    <input asp-for="@Model.Latitude" class="latitude" hidden />
                    <input asp-for="@Model.Longitude" class="longitude" hidden />
                    <input asp-for="@Model.State" class="state" hidden />
                    <input asp-for="@Model.Country" class="country" hidden />
                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                </div>
                <h5 class="mb-4">Rules</h5>
                <textarea class="form-control d-none rules-value rules-value" hidden asp-for="@Model.Rules" aria-required="true"></textarea>
            <div class="rulesContainer mb-5">
                <div class="fs-5 cursor-pointer" onclick="addRules()">  <i class="bi bi-plus-circle-fill"></i> Add More</div>
            </div>

            <div class="mt-3">
                <button class="btn btn-outline-primary" type="button" onclick="onToggle(3)">Back</button>
                <button class="btn btn-primary text-white" type="button" onclick="saveChanges()">Save changes and Preview</button>
                <button type="submit" class="d-none save">Save</button>
            </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSk8XumgpnSn3AcgoPqQm_zZwrq8Ll6UY&libraries=places"></script>
    <script src="~/js/controller/store/Upsert.js"></script>
}


