@model ProductModel;
<div>
    <partial name="_Nav2" />
    <form class="p-5" method="post" asp-action="RegisterAgent" asp-controller="Auth" enctype="multipart/form-data">
        @* <div asp-validation-summary="All" class="text-danger" role="alert"></div> *@
        <input class="category-input d-none" hidden aria-required="true" asp-for="@Model.LkpCategory" />
        <div class="content content-1 text-center">
            <h3 class="mt-5">List your property on <span class="font-ilalic">Rent Wise</span> and start welcoming renters in no time!</h3>
            <p class="my-3">To get started, choose the category of Rental you want to list on Rent Wise</p>

            <div class="d-flex flex-wrap p-5 justify-content-evenly">
                <div class="card p-3 ">
                    <div class="mb-4">
                        <i class="bi bi-car-front-fill fs-3 text-primary"></i>
                        <h6>
                            Vehicle Rental
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Rent fleet of well-maintained
                            vehicles suitable for daily commutes,
                            vacation, and special occasions
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(2)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 ">
                    <div class="mb-4">
                        <i class="bi bi-building-fill-gear fs-3 text-primary"></i>
                        <h6>
                            Construction Equipment
                            Rental
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Rent High-quality Construction
                            equipment available for short term a
                            nd long term projects
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(1)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 ">
                    <div class="mb-4">
                        <i class="bi bi-display-fill fs-3 text-primary"></i>
                        <h6>
                            Personal & Office
                            Items
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Rent a variety of personal items,
                            from electronics to outdoor gear,
                            including office items
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(3)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 ">
                    <div class="mb-4">
                        <i class="bi bi-people-fill fs-3 text-primary"></i>
                        <h6>
                            Event & Prop Rental
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Rent Event equipment's, sounds,
                            chairs, decorations, Lightening, stage
                            and many more.
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(4)">Proceed</button>
                    </div>
                </div>
                <div class="card p-3 ">
                    <div class="mb-4">
                        <i class="bi bi-compass fs-3 text-primary"></i>
                        <h6>
                            Car Tracker
                        </h6>
                    </div>
                    <div class="">
                        <p>
                            Easily own high quality
                            trackers with outstanding proficiency
                        </p>
                        <button class="btn btn-primary text-white px-3" type="button" onclick="setCategory(5)">Proceed</button>
                    </div><img src="~/img/banner.png" />
                </div>
            </div>
        </div>
        <div class="content content-2 d-none">
            <div class="item mb-5 w-fit m-auto px-5 py-3 fs-5 rounded-2 d-flex align-items-center gap-4"> <span>Category:</span> <span class="text-primary categories">Vehicle Rental </span><button class="btn btn-primary text-white" type="button" onclick="onToggle(1)">Change</button></div>
            <div class="item p-5 rounded-1">
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="@Model.Name" aria-required="true" />
                    <label class="form-label" asp-for="@Model.Name">Name of Product</label>
                    <span class="text-danger" asp-validation-for="@Model.Name"></span>
                </div>

                <divc class="d-flex gap-3">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend ">
                            <span class="input-group-text text-white">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Price / Day" asp-for="@Model.PriceDay" name="price" placeholder="Price / Day">
                        <span class="text-danger" asp-validation-for="@Model.PriceDay"></span>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend ">
                            <span class="input-group-text text-white">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Price / Weekend" asp-for="@Model.PriceWeekend" name="price" placeholder="Price / Weekend">
                        <span class="text-danger" asp-validation-for="@Model.PriceWeekend"></span>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend ">
                            <span class="input-group-text text-white">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Price / Week" asp-for="@Model.PriceWeek" name="price" placeholder="Price / Week">
                        <span class="text-danger" asp-validation-for="@Model.PriceWeek"></span>
                    </div>
                </divc>
                <div class="form-floating mb-3">
                    <input class="form-control" aria-required="true" type="file" accept="image/*" name="Main Image" />
                    <label class="form-label">Main Image</label>
                    <span class="text-danger"></span>
                </div>

                <div class="w-fit ml-auto">
                    <button class="btn btn-outline-primary text-primary" type="button" onclick="onToggle(1)">Back</button>
                    <button class="btn btn-primary text-white" type="button" onclick="onToggle(3)">Save changes and Continue</button>
                </div>
            </div>
        </div>
        <div class="content content-3 d-none">
            <div class="item mb-5 w-fit m-auto px-5 py-3 fs-5 rounded-2 d-flex align-items-center gap-4"> <span>Category:</span> <span class="text-primary categories">Vehicle Rental </span><button class="btn btn-primary text-white" type="button" onclick="onToggle(1)">Change</button></div>

            <div class="item p-5">
                <h5>Images</h5>
                <div class="w-100 d-flex flex-wrap gap-3 p-4" id="imageContainer">
                    <div class="fs-1 p-5 cursor-pointer">
                        <input class="form-control" aria-required="true" type="file" accept="image/*" hidden name="images" id="images" multiple="multiple" />
                        <label class="form-label" for="images">
                            <i class="bi bi-plus-circle-fill"></i>
                        </label>
                    </div>
                </div>

                <h5 class="mb-4">This products includes</h5>
                <div class="includesContainer">
                    <div class="fs-5 cursor-pointer" onclick="addIncludes()">  <i class="bi bi-plus-circle-fill"></i> Add More</div>
                </div>
                <div class="mt-3">
                    <button class="btn btn-outline-primary text-primary" type="button" onclick="onToggle(2)">Back</button>
                    <button class="btn btn-primary text-white" type="button" onclick="onToggle(4)">Save changes and Continue</button>
                </div>
            </div>
        </div>

        <div class="content content-4 d-none">

            <div class="item p-5">
                <div class="form-floating mb-3">
                    <textarea class="form-control" asp-for="@Model.Description" aria-required="true" ></textarea>
                    <label class="form-label" asp-for="@Model.Description">Product Description</label>
                    <span class="text-danger" asp-validation-for="@Model.Description"></span>
                </div>
                <h5 class="mb-4">This products includes</h5>
            <div class="rulesContainer">
                <div class="fs-5 cursor-pointer" onclick="addRules()">  <i class="bi bi-plus-circle-fill"></i> Add More</div>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" aria-required="true" type="file" accept="image/*" name="Main Image" />
                <label class="form-label">Cancellation Policy</label>
                <span class="text-danger"></span>
            <div class="mt-3">
                <button class="btn btn-outline-primary text-primary" type="button" onclick="onToggle(3)">Back</button>
                <button class="btn btn-primary text-white" type="button" onclick="onToggle(4)">Save changes and Preview</button>
            </div>
            </div>
            </div>
        </div>
    </form>
</div>
<style>
    .card {
        width: 350px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .item {
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    }

</style>
<script defer>
    function setCategory(lkpcategory) {
        $('.category-input').value = lkpcategory
        $('.categories').text(categories[lkpcategory])
        onToggle(2)
    }
    function onToggle(contentNo) {
        document.querySelectorAll(".content").forEach((content) => {
            content.classList.add("d-none");
        })

        document.querySelector(".content-" + contentNo).classList.remove("d-none");
    }
    const categories = [
        "Car Rentals",
        "Construction Equipments",
        "Office Items/Personal Items",
        "Events/ Equipment Rentals",
        "Sales Of Vehicles Trackers"
    ];

    const uploadedImages = []
    $("#images").change(function (e) {

        Array.from(e.target.files).forEach((file) => {
            uploadedImages.push(file)
            displayImage(file)
        });
    })

    function displayImage(file) {

        if (file && file.type.startsWith('image/')) {
            const reader = new FileReader();

            reader.onload = function () {
                const image = new Image();
                image.src = reader.result;
                image.style.width = '200px';
                image.style.height = '200px'
                const container = document.getElementById('imageContainer');
                container.insertBefore(image, container.firstChild);
            }

            reader.readAsDataURL(file);
        }

    }

    function addIncludes() {
        const input = `<input type="text" placeholder="Your porduct include" class="form-control mb-4"/>`
        $('.includesContainer').prepend(input)
    }

    function addRules() {
        const input = `<input type="text" placeholder="Rule" class="form-control mb-4"/>`
        $('.rulesContainer').prepend(input)
    }
    onToggle(3);
</script>